<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Custom Toolbar</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false"
            aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container m-3">
    <div class="row">
        <div class="col mx-3" style="margin-left: 20%; margin-top:5%;">
<app-goal-list></app-goal-list>
        </div>
    </div>
</div>